* {
    margin: 0;
    padding: 0;
    border: 0;
}

.panel {
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}