/* DOCUMENT SETTINGS */
* {
    /* Variables */
    --color-cold-white: #D4B0E6;
    --color-magenta: #B22F6E;
    --color-blue: #0702F9;
    --color-dark-blue: #0F1C3E;
    --color-darker-blue: #050E24;

    margin: 0;
    padding: 0;
    border: 0;
    scrollbar-width: none;
    /* Hide Mozilla Firefox scrollbar */

}

body {
    height: 1000vh;
    /* Add scroll height */
    -ms-overflow-style: none;
    /* Hide IE and Edge scrollbar */
    overflow-y: scroll;
    /* Allow vertical scroll */
}

body::-webkit-scrollbar {
    /* Hide Chrome, Safari and Opera scrollbar */
    display: none;
}

/* STYLE */
body {
    background: radial-gradient(143.85% 143.85% at 50% 100%, var(--color-magenta) 0%, var(--color-dark-blue) 66.67%, var(--color-darker-blue) 100%);
}

.fade {
    transition: opacity ease 1s;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.baseContainer {
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
}

.baseContainer svg {
    display: block;
    height: 720px;
    width: 452px;
    max-width: 95vw;
    max-height: 95vh;
}

.text1Container h1 {
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    bottom: min(70vh, 560px);
    color: var(--color-cold-white);
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 0px 0px 30px var(--color-blue), 0px 0px 10px var(--color-cold-white);
}

.linkContainer {
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    bottom: min(65vh, 530px);
    display: flex;
    gap: 16px;
}

.linkContainer svg {
    display: block;
    height: 30px;
    width: 30px;
}

.linkContainer path {
    fill: var(--color-cold-white)
}

.text2Container p {
    position: fixed;
    left: 50vw;
    width: min(90vw, 379px);
    transform: translateX(-50%);
    bottom: 320px;
    color: var(--color-cold-white);
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    text-shadow: 0px 0px 30px var(--color-blue), 0px 0px 10px var(--color-cold-white);
    text-align: center;
}